# Linear Regression

To begin, we will perform a linear regression model as a means of predicting the price of diamonds based on the predictor variables we saw earlier.

In [1]:
#import libraries
import pandas as pd
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import mean_squared_error as mse, make_scorer
from sklearn.linear_model import LinearRegression

## Train Model

We load the `.csv` files in a DataFrame.

In [2]:
#read csv's
df_train = pd.read_csv("input/train_clean.csv")
df_test = pd.read_csv("input/test_clean.csv")

We set the variable `X` for the predictor variables, and the variable `y` for the target variable.

In [3]:
#take predictors variables and response variable
X = df_train.drop("price", axis=1)
y = df_train["price"]

We use the `train_test_split` method to split the `X` and `y` into a 0.8 train and a 0.2 test.

We will train the model with the 0.8 selected by the method and test it with the 0.2 of the test.

In [4]:
#split the data 0.8 traon, 0.2 test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=444)

We trained the linear regression model with the 0.8 train and made predictions.

In [5]:
#select the model and put it into a variable
lr = LinearRegression()

#train model
lr.fit(X_train, y_train)

#predict y
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

We compute de mean square error with `mean_square_error` method.

In [6]:
#compute mean square error
mse_train = mse(y_train, y_pred_train)
mse_test = mse(y_test, y_pred_test)

We create a DataFrame with the actual y, the predicted y and the mean square error.

In [7]:
#display DataFrame
df_pred = pd.DataFrame(y_train)
#add y_pred column with predicted y
df_pred["y_pred"] = y_pred_train
#add mse column with the mean square error
df_pred["mse"] = mse_train

In [8]:
#check data
df_pred = df_pred.reset_index()
df_pred.head()

   index  price    y_pred       mse
0  29816  9.395  9.362677  0.040597
1  14427  7.210  7.126221  0.040597
2  39546  9.321  9.216545  0.040597
3   7814  6.964  7.071335  0.040597
4  13427  7.671  7.609855  0.040597

We check the mean square error of the and of the 0.2 of the test

In [9]:
#check mean square error
mse_test

0.03440628945958964

In [10]:
#check various tests
score_mse = make_scorer(mse)
cross_validate(estimator=LinearRegression(), X=X, y=y, scoring=score_mse, cv=10)

{'fit_time': array([0.02094293, 0.01495647, 0.00996399, 0.01097059, 0.01097035,
        0.01595807, 0.01196885, 0.01196861, 0.01097107, 0.01097083]),
 'score_time': array([0.00400448, 0.00299382, 0.00298905, 0.00299191, 0.00299144,
        0.00299287, 0.00299096, 0.00299215, 0.00299406, 0.00298977]),
 'test_score': array([0.02665961, 0.0719899 , 0.03206491, 0.02523621, 0.36610949,
        0.02673133, 0.06010793, 0.0280371 , 0.02697135, 0.08241436])}

# Test

Let's do the same process with `df_test`.

In [11]:
#check data
df_test.head()

   carat  cut  color  clarity  depth     x     y     z
0   0.51    4      1        2   58.3  5.19  5.20  3.04
1   1.02    4      3        2   63.0  6.37  6.43  4.03
2   0.59    3      2        4   61.9  5.39  5.34  3.32
3   0.90    4      2        4   62.3  6.14  6.18  3.84
4   2.01    5      7        5   60.2  8.23  8.16  4.93

In [12]:
#train model
lr.fit(X, y)

#predict y
test_pred = lr.predict(df_test)

#compute mean square error
mse_test_t = mse(y_test, y_pred_test)

In [13]:
#display dataframe
test = pd.DataFrame(df_test.index, columns=["id"])
test["price"] = test_pred

In [14]:
#check data
test.head()

   id     price
0   0  7.096240
1   1  8.287210
2   2  7.604308
3   3  8.355495
4   4  9.875326

In [15]:
#save csv
test.to_csv("output/LinearRegression.csv", index = False, header = True)